@page
@model Apply_Jobs.Pages.Candidiates.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Candidate.Name" class="control-label"></label>
                <input asp-for="Candidate.Name" class="form-control" />
                <span asp-validation-for="Candidate.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ContactNumber" class="control-label"></label>
                <input asp-for="Candidate.ContactNumber" class="form-control" />
                <span asp-validation-for="Candidate.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
