@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class=" align-content-center">
    <h1 style="text-align:center;"> Find and Apply Jobs</h1>
    <img src="~/Content/img/pic.jpg" />
</div>
